@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

$primary: #f69f98;
$danger:  #FF0000;
$warning: #f5d6b8;
$success: #acb5a0;
$info: #8ab6c6;
$red: #FF0000;

.navbar-burger {
  span {
    color: #FFF;
  }
}

.hero.landing {
  background: linear-gradient(
  rgba(0, 0, 0, 0),
  rgba(0, 0, 0, 0.3),

  rgba(0, 0, 0, 1)
    ),url(https://images.unsplash.com/photo-1503942142281-94af0aded523?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import "../../node_modules/bulma/bulma";
